.recourse {
  max-width: 1200px;
  margin: auto;
}

.btn-recourse {
  color: black;
  border: 1px solid #ddd;
}

.recourse-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem;
}

.heading {
  font-size: 4rem;
  font-weight: 300;
}

.heading span {
  font-weight: bold;
}

@media screen and (max-width: 710px) {
  .recourse-heading {
    flex-direction: column;
  }

  .heading {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 480px) {
  .heading {
    font-size: 3rem;
  }
}
