.about {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 10rem 0;
}

.about-title {
  margin-top: 15rem;
  position: relative;
}

.about-title h1 {
  font-size: 5rem;
  font-weight: 400;
}

.about-title h2 {
  font-size: 7rem;
  font-weight: 600;
}

.about-title h2:after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #475677;
  width: 100px;
  margin-left: 15px;
  top: 55%;
  left: 65%;
}

.about-title p {
  margin: 2rem 0;
  max-width: 400px;
  font-size: 2rem;
  font-weight: 300;
}

.about-img img {
  max-width: 90rem;
}

.about-cate {
  display: flex;
  gap: 20px;
  margin: 2rem 0;
  font-size: 2rem;
}

.about-cate span {
  color: #166bff;
}

@media screen and (max-width: 1750px) {
  .about-title h2:after {
    top: 60%;
    left: 70%;
  }
}

@media screen and (max-width: 1600px) {
  .about {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1375px) {
  .about {
    grid-template-columns: auto;
    place-items: center;
  }

  .about-title h2:after {
    display: none;
  }
}

@media screen and (max-width: 975px) {
  .about-img img {
    max-width: 50rem;
  }
}
@media screen and (max-width: 520px) {
  .about-img img {
    max-width: 30rem;
  }

  .review-cate,
  .review-cate {
    margin: 1rem;
  }

  .about-title h1 {
    font-size: 3rem;
  }

  .about-title h2 {
    font-size: 4rem;
  }

  .about-title {
    margin-top: 5rem;
  }
}
