#achievement {
  background: #eff7ff;
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievement {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

.achievement-heading {
  margin: 5rem 0;
}

.achievement-heading h1 {
  font-size: 5rem;
  font-weight: 700;
}
.achievement-heading p {
  font-size: 2rem;
  max-width: 800px;
}

.achieve {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.achieve-length h2 {
  font-size: 5rem;
  font-weight: 500;
}
.achieve-length p {
  font-size: 1.8rem;
  font-weight: 300;
}

.online-course {
  color: #2680eb;
}
.enroll-student {
  color: #00b592;
}
.expert-instructor {
  color: #ffbe58;
}
.profile-review {
  color: #e0474e;
}

@media screen and (max-width: 888px) {
  .achieve {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
@media screen and (max-width: 670px) {
  .achieve {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .achievement-heading h1 {
    font-size: 3rem;
  }
  .achievement-heading p {
    font-size: 1.5rem;
  }

  .achieve-length h2 {
    font-size: 3rem;
  }
  .achieve-length p {
    font-size: 1.5rem;
  }
}
